<!DOCTYPE html>
<html ng-app="Main">

	<head>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Webshop</title>
		<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container-fluid">
			
			<div class="page-header">
				<h2>Smell CLEAN <small> - even if you're not</small></h2>
			</div>

<!-- CART -->
			<div ng-controller="cartController" class="table-responsive col-md-4 pull-right well">
				<h4 class="glyphicon glyphicon-shopping-cart"></h4>
				<!-- {{ message }} $rootScope.message cart.service.js fil -->

				<table class="table table-responsive">

					<tr>
						<th>Product</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Total</th>
					</tr>

					<tr ng-repeat="cartProduct in cartProducts">
						<td>{{ cartProduct.product.name }}</td>
						<td>{{ cartProduct.quantity }}</td>
						<td>{{ cartProduct.product.price }}</td>
						<td>{{ cartProduct.total }}</td>
						<td><button ng-click="addToQuantity(cartProduct.product)">+</button></td>
						<td><button ng-click="deleteFromQuantity(cartProduct.product)">-</button></td>				
						<td><button ng-click="deleteProductFromCart(cartProduct.product)">x</button></td>
					</tr>

				</table>

				<div class="col-md-4 col-md-offset-5">
					<b>Total</b>: {{ cartTotal }}
				</div>
	
			</div>

<!-- VIEW (PRODUCTS, PRODUCT, CHECKOUT) -->
			<div>

				<h2>{{ error }}</h2>

				<div ng-view>
				</div>

			</div>

		</div>

		<script src="angular/angular.min.js"></script>
		<script src="angular-route/angular-route.min.js"></script>

		<script src="app.module.js"></script>

		<script src="cart/cart.service.js"></script>
		<script src="products/products.service.js"></script>
		<script src="checkout/checkout.service.js"></script>		

		<script src="cart/cart.controller.js"></script>
		<script src="products/products.controller.js"></script>
		<script src="products/product.controller.js"></script>
		<script src="checkout/checkout.controller.js"></script>

	</body>

</html>