<div class="container-fluid">

<!-- SEARCH -->
	<div class="row">

		<div class="col-md-8">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">		
		 			<input type="text" class="form-control" placeholder="Smell like...?" ng-model="productName" /> 		
				</div>
			</form>
		</div>

<!-- CATEGORIES -->
		<div class="col-md-8">
			<div class="col-md-offset-1">
				<label class="checkbox" ng-repeat="catObject in categories">
					<input type="checkbox" ng-click="categoryChange(catObject.category)"> {{ catObject.category }} 
				</label>
			</div>
		</div>

<!-- CHECKOUT BUTTON -->
		<div class="col-md-12">
			<div class="pull-right">
				<a ng-href="#/checkout/" class="btn btn-default">Checkout</a>
			</div>
		</div>
	</div>

<!-- PRODUCTS -->
	<div class="row">
		<div class="col-md-2">
			<div class="navbar-header">
				<h2><small>Products</small></h2>
			</div>
		</div>
	</div>

	<div class="row-group">
		<div class="col-md-4" ng-repeat="product in products | filter:productName | filter:categoryFilter">

			<div class="row">
				<div class="col-md-12 col-md-offset-1">
					<a ng-href="#/product/{{product.id}}"><img ng-src="{{ product.image }}" height="150px" /></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h5>{{ product.name }}</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p><small>{{ product.size }}<small></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h5>DKK {{ product.price }}</h5>
				</div>
			</div>
				
<!-- ADD TO CART -->
			<div class="row">

				<form ng-submit="addToCart(product)"> <!-- når formen submittes executes metoden som modtager produkter -->
					<div class="col-md-4">
						<input type="number" class="form-control" min="1" ng-model="quantity" /> <!-- og antal-->
					</div>

					<div class="col-md-6">
						<button type="submit" class="btn btn-default">Add to cart</button>
					</div>
				</form>

			</div>

		</div>
	</div>

</div>