<div class="well">
	<h4>Search</h4>
	<input type="search" placeholder="Search product name" ng-model="productName" />

	<h4>Categories</h4>
	<table>
		<tr ng-repeat="catObject in categories">
			<td>
				<input type="checkbox" ng-click="categoryChange(catObject.category)"> {{ catObject.category }}
			</td>
		</tr>
	</table>
</div>

<div>
	<h3>Products</h3>

	<table>
		<tr ng-repeat="product in products | filter:productName | filter:categoryFilter">
			
				<td><a ng-href="#/product/{{product.id}}">{{ product.name }}</a></td>
				<td><a ng-href="#/product/{{product.id}}"><img ng-src="{{ product.image }}" height="125px" /></a></td>

				<td>
			<!-- <form ng-submit="sendMessageToCart()"> <!- products.controller.js fil -->
			<!-- <input type="text" ng-model="inputMessage" /> <!- felt til indtast (products.controller.js fil) -->
			<!-- <button class="btn btn-success">Send message</button> -->
			<!--</form> -->
					
					<form ng-submit="addToCart(product)"> <!-- når formen submittes executes metoden som modtager produkter -->
						<input type="number" ng-model="quantity" /> <!-- og antal-->
						<button type="submit">Add to cart</button>
					</form>
				</td>
		</tr>

	</table>
</div>